@page "/contact/{Id}"
@using BlazorWASMWebApplication.Shared
@if (@Id.Equals("0"))
{
    <h1>New Contact details</h1>
}
else
{
    <h1>Contact [Id=@Id] details</h1>
}
@if (Contact == null || Categories == null)
{
    <p>Loading ...</p>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label for="Name" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <InputText id="Name" @bind-Value="@Contact.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Surname" class="col-sm-4 col-form-label">Surname</label>
                <div class="col-sm-8">
                    <InputText id="Surname" @bind-Value="@Contact.Surname" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <InputText id="Email" @bind-Value="@Contact.Email" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Password" type="password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <InputText id="Password" @bind-Value="@Contact.Password" @bind-Value:after='() => { Contact.Password=Utils.ENCODE_PASSWORD_TO_BASE_64(Contact.Password); }' class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Phone" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <InputText id="Phone" @bind-Value="@Contact.Phone" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="BirthDate" class="col-sm-4 col-form-label">BirthDate</label>
                <div class="col-sm-8">
                    <InputDate id="BirthDate" @bind-Value="@Contact.BirthDate" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="CategoryId" class="col-sm-4 col-form-label">Category</label>
                <div class="col-sm-8">
                    <InputSelect id="CategoryId" @bind-Value="Contact.CategoryId" @bind-Value:after='() => { Contact.SubCategory = null; }' class=" form-control">
                        @foreach (var category in Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="form-group row">
                @if (@Contact.CategoryId == 3)
                {
                    <label for="SubCategory" class="col-sm-4 col-form-label">SubCategory</label>
                    <div class="col-sm-8">
                        <InputText id="SubCategory" @bind-Value="@Contact.SubCategory" class="form-control" />
                    </div>
                }
                else
                {
                    <label for="SubCategory" class="col-sm-4 col-form-label">SubCategory</label>
                    <div class="col-sm-8">
                        <InputSelect id="SubCategory" @bind-Value="Contact.SubCategory" class="form-control">
                            @foreach (var subCategory in Categories.First(c => c.Id == Contact.CategoryId).SubCategories)
                            {
                                <option value="@subCategory.Name">@subCategory.Name</option>
                            }
                        </InputSelect>
                    </div>
                }
            </div>
            <div class="form-group row">
                <Button Color="ButtonColor.Danger" @onclick="() => ContactService.SaveContact(Contact)">Save</Button>
            </div>
        </div>
    </div>
}
